html, #header>h1, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    display: flex;
    background-color: #8EE4AF;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#window {
    display: grid;
    width: 75%;
    height: 75%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
}

#header {
    display: flex;
    background-color:#05386B;
    color: white;
    padding: 15px;
    padding-left: 50px;
    grid-column: 1 / 5;
    align-items: center;
    padding-top: 25px;
}

#sidebar {
    padding: 15px;
    background-color: #379683;
    color: white;
    font-size: larger;
    font-weight: bolder;
}

table {
    width: 1000px;
}

#content {
    display: grid;
    grid-template-rows: auto 75px;
    background-color: #EDF5E1;
}

#tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 500px;
    overflow-y: auto;
    padding-top: 20px;
}

#task {
    display: flex;
    align-items: center;
    min-height: 35px;
    width: 750px;
    gap: 10px;
    border: 1px solid black;
}

#priority-box {
    color: green;
    font-size: 25px;
    font-weight: bolder;
    padding-left: 25px;
    padding-top: 5px;
}

#checkbox {
    display: flex;
    width: 25px;
}

#new {
    display: flex;
    justify-self: flex-end;
    align-self: center;
    margin-right: 75px;
    padding: 10px;
    background-color: #05386B;
    border: 0;
    color: white;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
}